.headerSection{
    display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: 57px auto;
}
@media screen and (max-width: 820px) {
    .headerSection{
        margin: 20px auto;
    }
    
  }