.navSection{
    display:flex;
}
.navSection a{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    margin-left: 57px;
    color: #ff6060;
    text-decoration: none;
}

.navSection a:hover{
    text-decoration-line: underline;
}

@media screen and (max-width: 820px){
    .navSection a {
        font-size: 12px;
      margin-left: 10px;
      text-transform: uppercase;
    }
}